body {
    background-image: url('white_wall_hash/white_wall_hash_@2X.png');
}

#content {
    text-align: center; 
    font-family: razing;
    font-size: 40px;   
}

@font-face {
    font-family: razing;
    src: url('Razing.ttf');
}